
#font {

}

m1 {
    font-size: 145%;
    font-weight: normal;
    font-family: Trebuchet MS, sans-serif;
    color : white;
}

m2 {
    font-size: 70%;
    font-weight: normal;
    font-family: Noto Sans, sans-serif;
    color : rgb(177, 178, 180);
}

m4 {
    font-size: 85%;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    color : white;
}

.userName {
    text-align: left;
    position: absolute;
    width: 100%;
    left: 20;
    top: 15;
}

input[type=text], input[type=password] {
    width:85%;
    position: absolute;
    top: 20;
    border: 1px solid rgb(226, 227, 228);
    border-radius: 5px;
    height: 30px;
}

.passwordName {
    text-align: left;
    position: absolute;
    width: 100%;
    left: 20;
    top: 80;
}

a {
    color: rgb(177, 178, 180);
}

.passwordLine {
    position: absolute;
    top: 145;
    right: 22;
}

input[type=submit] {
    width: 85%;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(100,212,190);
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-size: 70%;
    font-weight: bold;
}
input[type=text]:focus {
    border: 1px solid rgb(177, 178, 180);
}

.submitButton {
    width: 100%;
    position: absolute;
    top: 190;
}

button {
    width: 85%;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(155,155,155);
}

.createAccount {
    position: absolute;
    width: 100%;
    top: 225;
    left: 20;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(29,47,85);
    overflow: auto;
}

.titlename {
    text-align: center;
    width: 270px;
    height: 50px;
    position: absolute;
    top: -350;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.block {
    
    width: 280px;
    height: 270px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    
}

.bottom-image {
    width: 51px;
    height: 51px;
    position: absolute;
    top: 550;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: red;
   
}

form {
    background: white;
    text-align: center;
}
